extends ./components/_layout.pug

block vars
	- var pageTitle = 'Home';

block content_block
	

	section.ngl-home(style="background-image: url('../img/bg.jpg')")
		.ngl-page
			.container
				ul.languages
					li
						a(href="#") EN
					li
						a.active(href="#") RU
					li
						a(href="#") ES
					li
						a(href="#") CN
				.ngl-content
					.ngl-aside
						+header()
					
					.ngl-slider-wrapper
						a.next(href="#")
							img(src="./img/next-btn.svg", alt="")
						.ngl-slider-wrap
							+slide-1()
							+slide-2()
							+slide-3()
							+slide-4()
							+slide-5()
							+slide-6()

				nav.ngl-controlls.navigation.pagination(role="navigation")
					.nav-links
						a.active(href="./")
						a(href="./about.html")
						a(href="./tolling.html")
						a(href="./advantage.html")
						a(href="./ecology.html")
						a(href="./contacts.html")

		+footer

	+script

