mixin head()
	title #{pageTitle}
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
	
	link(rel="apple-touch-icon", sizes="180x180", href="./img/favicon/apple-touch-icon.png")
	link(rel="icon", type="image/png", sizes="32x32", href="./img/favicon/favicon-32x32.png")
	link(rel="icon", type="image/png", sizes="16x16", href="./img/favicon/favicon-16x16.png")
	link(rel="manifest", href="./img/favicon/site.webmanifest")
	link(rel="mask-icon", href="./img/favicon/safari-pinned-tab.svg", color="#b02786")
	link(rel="shortcut icon", href="./img/favicon/favicon.ico")
	meta(name="msapplication-TileColor", content="#b02786")
	meta(name="msapplication-config", content="./img/favicon/browserconfig.xml")
	meta(name="theme-color", content="#b02786")

	link(rel="stylesheet", href="./css/style.css")


mixin header()
	header.main-header
		a.logo-wrap(href="./", data-slide-index="0")
			.img-wrap
				img(src="./img/logo.svg", alt="")
			.text-wrap
				.title ЛэдИнвест
				.subtitle стабильность и надёжность
		nav
			ul
				li
					a.active(href="./about.html", data-slide-index="1") О компании
				li
					a(href="./tolling.html", data-slide-index="2") Толлинг
				li
					a(href="./advantage.html", data-slide-index="3") Преимущества
				li
					a(href="./ecology.html", data-slide-index="4") Экология
				li
					a(href="./contacts.html", data-slide-index="5") Контакты

mixin script()
	script(src="./js/scripts.min.js")

mixin footer()
	footer.main-footer
		.container
			p Copyright&copy; 2020 ООО "Лэдинвест" | Все права защищены
			a(href="#") Политика конфиденциальности и файлы cookie




mixin slide-1()
	.slide.slide-1
		.logo-wrap
			img(src="./img/logo.svg", alt="")
		h2 ООО "ЛэдИнвест"

		.items
			.item
				.img-wrap
					img(src="./img/1-1.svg", alt="")
				p Инвестиции <br> в свинцовый лом
			.item
				.img-wrap
					img(src="./img/1-2.svg", alt="")
				p Утилизация и переработка<br> свинцовых аккумуляторов
			.item
				.img-wrap
					img(src="./img/1-3.svg", alt="")
				p Экспорт<br> марочного свинца
mixin slide-2()
	.slide.slide-2
		h2 О компании

		.items
			.item
				.img-wrap
					img(src="./img/2-1.svg", alt="")
				p ООО "ЛэдИнвест" участник процесса поддержания бережного отношения к окружающей среде, путем превращения отходов в сертифицированную продукцию высокого качества. 
			.item
				.img-wrap
					img(src="./img/2-2.svg", alt="")
				p Оказываем помощь в доставке сырья до завода-переработчика через транспортные компании и поставляем готовую продукцию (марочный свинец) на рынки Европы и Азии. 
			.item
				.img-wrap
					img(src="./img/2-3.svg", alt="")
				p Наша компания специализируется на заготовке, сборе и переработке лома, содержащего свинец, с последующей продажей готовой продукции. 
			.item
				.img-wrap
					img(src="./img/2-4.svg", alt="")
				p Репутация ООО "ЛэдИнвест" строится на долгосрочных отношениях с партнерами, на четком соблюдении сроков и гарантированном выполнении всех договорных обязательств. 
mixin slide-3()
	.slide.slide-3
		h2 Схема толлинга

		.items
			.item
				.round
					.n 1
					p Поставщик <br> АКБ
			.item
				.round
					.n 2
					p ЛэдИнвест
			.item
				.round
					.n 3
					p Завод<br> перерабочик
			.item
				.round
					.n 4
					p ЛэдИнвест
			.item
				.round
					.n 5
					p Продаже<br> свинца

mixin slide-4()
	.slide.slide-4
		h2 Преимущества работы с ООО "ЛэдИнвест" 

		.items
			.item
				.title ДЛЯ ПОСТАВЩИКОВ АКБ
				ul
					li Гарантируем оплату в <br> короткие сроки 
					li Работаем с любым<br> регионом страны 
					li Предоставляем детальную<br> консультацию 
					li Оказываем помощь в логистике (подбираем ближайший завод-переработчик)
					li Помогаем в организации вывоза аккумуляторов до завода-переработчика с помощью транспортных компаний 
			.item
				.title ДЛЯ ЗАВОДОВ-ПЕРЕРАБОТЧИКОВ АКБ
				ul
					li Организовываем доставку сырья и материалов, содержащих свинец
					li Предоставляем аналитику<br> рынка сбыта
					li Берем на себя маркетинговое сопровождение
					li Организовываем продажи марочного свинца
					li Проводим операции по<br> хеджированию ценовых рисков
mixin slide-5()
	.slide.slide-5
		h2 С нами легко и выгодно заботится <br> об экологии! 
		.subtitle Берем на себя переработку и утилизацию лома, материалов и сырья, содержащих свинец, обеспечивал полный цикл работ с минимальными рисками для экологии и здоровья человека! 

		.items
			.item
				.img-wrap
					img(src="./img/5-1.svg", alt="")
				.title ВТОРИЧНАЯ ПЕРЕРАБОТКА И УТИЛИЗАЦИЯ 
				p Сдавая лом свинца на вторичную переработку, вы помогаете сохранить ресурсы и экологию 
			.item
				.img-wrap
					img(src="./img/5-2.svg", alt="")
				.title ЭКОЛОГИЯ <br><br>
				p Помогаем улучшить состояние окружающей среды и здоровье человека 
			.item
				.img-wrap
					img(src="./img/5-3.svg", alt="")
				.title ЭКОНОМИЯ РЕСУРСОВ <br><br>
				p Переработка свинца позволяет экономить ресурсы

mixin slide-6()
	.slide.slide-6
		h2 Контакты
		.subtitle
			| Адрес: 141100, Московская область, г. Щёлково, ул. 1-й Советский переулок, д. 25, этаж 4, офис 490
			br
			| Телефон: 
			a(href="tel:+79601088376") + 7 (960) 108-83-76
			br
			| E-mail: 
			a(href="mail:scrap.control@pbinvest.ru") scrap.control@pbinvest.ru 
		.map-wrap
			<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aebd09c73ca293c13260838abe91b20341ae5347be857714ac6dc56337d9c4253&amp;source=constructor"></iframe>